body {
    background: url('https://alutech-group.com/upload/o-kompanii/zd2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
