<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <style>
        body {
            background: url('https://alutech-group.com/upload/o-kompanii/zd2.jpg') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>

</head>
<body>
<div class="container mt-5">
    <h1 class="text-center mb-4">Выберите мастера</h1>
    <form th:action="@{/masters/choose_master}" method="get">
        <div class="form-group row">
            <div class="col-sm-12">
                <select class="form-control" id="master-select" name="masterId" onchange="this.form.submit()">
                    <option value="">Выберите мастера...</option>
                    <option th:each="master : ${allMasters}" th:value="${master.id}"
                            th:text="${master.name} + ' ' + ${master.surname}"></option>
                </select>
            </div>
        </div>
    </form>
    <div class="text-center" th:if="${param.masterId} != null">
        <a th:href="@{/workers/get_workers_by_master_id(masterId=${param.masterId})}" class="btn btn-primary btn-block">View
            brigade</a>
    </div>
    <div class="text-center mt-2" th:if="${param.masterId} != null">
        <a th:href="@{/workplaces/get_all_workplaces(masterId=${param.masterId})}" class="btn btn-primary btn-block">Set
            positions</a>
    </div>
    <div class="text-center mt-2" th:if="${param.masterId} != null">
        <a th:href="@{/workers/transfer_worker_to_another_master(masterId=${param.masterId})}"
           class="btn btn-primary btn-block">Transfer worker</a>
    </div>
    <div class="text-center mt-2" th:if="${param.masterId} != null">
        <a th:href="@{/masters/create_master}"
           class="btn btn-primary btn-block">Create master</a>
    </div>

    <div class="text-center mt-2" th:if="${param.masterId} != null">
        <a th:href="@{/masters/delete_master(masterId=${param.masterId})}" class="btn btn-primary btn-block">Delete
            master</a>
    </div>

    <div class="text-center mt-2" th:if="${param.masterId} != null">
        <a th:href="@{/masters/update_master(masterId=${param.masterId})}"
           class="btn btn-primary btn-block">Update master</a>
    </div>

    <div class="text-center mt-2" th:if="${param.masterId} != null">
        <a th:href="@{/workers/create_worker}" class="btn btn-primary btn-block">Create
            worker</a>
    </div>

    <div style="position: fixed; bottom: 20%; left: 0; right: 0;" class="text-center">
        <a th:href="@{/workers/all_workers}" class="btn btn-primary mr-2" style="display: inline-block;">View the list
            of workers</a>
    </div>


</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
